body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #000000;
    padding: 5px 10px;
    display: inline-block;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #333;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        width: auto;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #080808;
        z-index: 1000;
        text-align: center;
        flex-direction: column;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
    }
}

.main-content {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.left-section,
.right-section {
    flex: 1;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding-top: 40px;
}

.fullscreen-slider-container {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullscreen-slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    height: 100%;
    width: 100%;
}

.fullscreen-slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fullscreen-slide img {
    max-width: 100%;       /* Максимальная ширина изображения (90% от ширины слайда) */
    max-height: 100%;      /* Максимальная высота изображения (50% от высоты слайда) */
    object-fit: cover; /* Масштабируем изображение, сохраняя пропорции */
    margin-bottom: 0%;  /* Добавляем отступ снизу для изображения */
}


.fullscreen-slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0);
    color: rgb(90, 0, 192);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 10;
}

.fullscreen-slider-arrow.prev {
    left: 10px;
}

.fullscreen-slider-arrow.next {
    right: 10px;
}

.mini-slider-container {
    width: 80%;
    border: 1px solid #a85b5b00;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.mini-slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.mini-slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.mini-slide img {
    max-width: 90%;
    max-height: 70%;
    object-fit: contain;
    margin-bottom: 10px;
}

.mini-slider-controls {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.mini-slider-arrow {
    background: rgba(0, 0, 0, 0);
    color: rgb(62, 5, 168);
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
    z-index: 10;
    margin: 0 5px;
}

.mini-slider-description {
    text-align: left;
    font-size: 0.8em;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    white-space: pre-line;
    flex-grow: 1;
}


/* Стили для кнопки */
.my-button {
    background-color: #5c05be; /* Зеленый фон */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px; /* Закругленные углы */
    position: absolute;  /* Абсолютное позиционирование */
    bottom: 100px;          /* Располагаем чуть выше описания */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* Стили для описания кнопки */
.button-description {
    text-align: center;
    font-style: italic;
    color: #777;
    font-size: 0.3em;
    position: absolute; /* Абсолютное позиционирование */
    bottom: 3px;       /* Располагаем под кнопкой */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}